{% extends 'dinedashapp/components/home_base.html' %}

{% block title %}DineDash - About Us{% endblock title %}

{% block content %}
<div class="menu-header">About Us</div>

<section class="menu">
    <div class="menu-item">
        Welcome to DineDash, your all-in-one platform for seamless dining and delivery experiences. Whether you're
        craving a
        delicious meal delivered straight to your door or looking to reserve the perfect table for a night out, DineDash
        makes it effortless. Our app connects customers with their favorite restaurants, allowing for easy ordering and
        reservations, while also providing restaurant staff with powerful tools to manage menus, orders, and customer
        interactions. For delivery partners, DineDash offers a streamlined system to receive and fulfill orders
        efficiently.
        With a focus on convenience, quality, and reliability, DineDash is here to revolutionize the way you
        dine—anytime,
        anywhere.
    </div>
</section>
{% endblock content %}