{% extends 'dinedashapp/components/home_base.html' %}
{% load static %}

{% block title %}DineDash - Blog{% endblock title %}

{% block content %}
<div class="menu-header">Blog</div>

<section class="menu menu-vertical">
    {% for post in blog_posts %}
    <div class="menu-item">
        <h3>{{ post.title }}</h3>
        <em>Posted on {{ post.date }}</em>
        <p>{{ post.content }}</p>
    </div>
    {% empty %}
    <div class="menu-item">
        <em>There are no blog posts at this time.</em>
    </div>
    {% endfor %}
</section>
{% endblock content %}