{% extends 'dinedashapp/components/home_base.html' %}
{% load static %}

{% block title %}DineDash - Homepage{% endblock title %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h2>Eat Sleep And</h2>
        <h1>Supper delicious Burger in town!</h1>
        <p>Food is any substance consumed to provide nutritional support for an organism.</p>
        <button class="cta">Book A Table</button>
    </div>
    <div class="hero-image">
        <img src="{% static 'dinedashapp/homepage_burger.png' %}" alt="Delicious Burger">
    </div>
</section>

<div class="menu-header">Some Delicious Examples</div>

<section class="menu">
    {% for item in pricing_examples %}
    <div class="menu-item">
        <h3>{{ item.name }}</h3>
        <p>${{ item.price }}</p>
        <p>{{ item.description }}</p>
    </div>
    {% empty %}
    <div class="menu-item">
        <h3>{{ item.name }}</h3>
        <p><em>There are no foods at the moment.</em></p>
    </div>
    {% endfor %}
</section>
{% endblock content %}