{% extends 'dinedashapp/components/home_base.html' %}
{% load static %}

{% block title %}DineDash - Homepage{% endblock title %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>DineDash</h1>
        <p>Where dining meets convenience — book tables or order meals with ease.</p>
        <a href="{% url 'restaurant_search' %}"><button class="book-a-table">Book A Table</button></a>
    </div>
    <img class="hero-image" src="{% static 'dinedashapp/homepage_burger.png' %}" alt="Delicious Burger">
</section>

<div class="menu-header">Here are some examples of the foods offered on our platform:</div>

<section class="menu">
    {% for item in pricing_examples %}
    <div class="menu-item">
        <h3>{{ item.name }}</h3>
        <p>${{ item.price }}</p>
        <p>{{ item.description }}</p>
    </div>
    {% empty %}
    <div class="menu-item">
        <p><em>There are no foods at the moment.</em></p>
    </div>
    {% endfor %}
</section>
{% endblock content %}