{% extends 'dinedashapp/components/home_base.html' %}

{% block title %}DineDash - Restaurant Info{% endblock title %}

{% block content %}
<h2 class="menu-header">{{ restaurant.name }}</h2>
<p class="center">{{ restaurant.description }}</p>
<p class="center">Located at {{ restaurant.location }}</p>
<div class="menu">
    <div class="menu-item">
        {% if is_owner %}
        <p><a href="{% url 'edit_restaurant_info' %}">Edit</a></p>
        {% endif %}
        <h4>Hours</h4>
        <p>Sunday: {{ sunday_hours }}</p>
        <p>Monday: {{ monday_hours }}</p>
        <p>Tuesday: {{ tuesday_hours }}</p>
        <p>Wednesday: {{ wednesday_hours }}</p>
        <p>Thursday: {{ thursday_hours }}</p>
        <p>Friday: {{ friday_hours }}</p>
        <p>Saturday: {{ saturday_hours }}</p>
        <h4>Ratings and Reviews</h4>
        {% if average_rating %}
        <p>Rated {{ average_rating }} out of 5</p>
        {% else %}
        <p>This restaurant has not received any reviews yet.</p>
        {% endif %}
        <p>Click <a href="{% url 'restaurant_reviews' restaurant.id %}">here</a> to see reviews or write a review.</p>
    </div>
</div>
<div class="menu">
    {% if is_owner %}
    <p><a href="{% url 'create_menu_item' %}">Add item</a></p>
    {% endif %}
    {% for menu_item in restaurant.menu_items.all %}
    <div class="menu-item">
        <h3>{{ menu_item.name }}</h3>
        <p><em>${{ menu_item.price }}</em></p>
        <p>{{ menu_item.description }}</p>
        {% if is_owner %}
        <p><a href="{% url 'edit_menu_item' menu_item.pk %}">Edit</a></p>
        {% endif %}
    </div>
    {% empty %}
    <div class="menu-item">
        <em>This restaurant has no menu items at this time.</em>
    </div>
    {% endfor %}
</div>
{% endblock content %}