{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'dinedashapp/home_style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">DineDash.</div>
            <ul class="nav-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'restaurant_search' %}">Order</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            </ul>
            <div class="upper-right">
                <a href="{% url 'restaurant_search' %}" class="orange-button">Reservation</a>
                {% if user.is_authenticated %}
                <p>
                    {% if user.user_type == "Reg" %}
                    Signed in as <a href="{% url 'regular_account' %}">{{ user.customer_info.get_full_name }}</a>
                    {% elif user.user_type == "Res" %}
                    Signed in as <a href="{% url 'restaurant_info' user.restaurant.pk %}">
                        {{ user.restaurant.name }}
                    </a>
                    {% else %}
                    Signed in as <a href="{% url 'delivery_orders' %}">
                        {{ user.delivery_contractor_info.get_full_name }}</a>
                    {% endif %}
                </p>
                <a href="{% url 'log_out' %}" class="orange-button">Log out</a>
                {% else %}
                <a href="{% url 'log_in_question' %}" class="orange-button">Log in</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>